body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2; /* Neutral background color */
}

/* Hero section styles */
.hero {
    background-color: #75a8a3; /* Marine tone background */
    color: #fff; /* White text color */
    padding: 30px 15px; /* Padding for content */
    text-align: center; /* Center-align text */
}

.hero-content {
    max-width: 600px; /* Limit content width for readability */
    margin: 0 auto; /* Center the content horizontally */
}

.hero-image {
    width: 250px; /* Adjust the width of the image */
    height: 250px; /* Adjust the height of the image */
    border-radius: 50%; /* Create rounded corners for the image */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a soft shadow behind the image */
    margin-bottom: 10px; /* Space below the image */
}

.main-heading {
    font-family: 'Rubik', sans-serif; /* Apply Rubik font */
    font-size: 2.5em; /* Adjust main heading font size */
    margin-bottom: 10px; /* Space below main heading */
}

.subheading {
    font-size: 1.5em; /* Adjust subheading font size */
    color: aliceblue; /* Change subheading text color */
    margin-bottom: 20px; /* Space below subheading */
}

.description {
    font-size: 1.1em; /* Adjust description font size */
    line-height: 1.6; /* Line height for better readability */
    margin-bottom: 30px; /* Space below description */
}

.cta-button {
    display: inline-block; /* Make it a block-level button */
    padding: 15px 25px; /* Increase padding for button size */
    background-color: #40859e; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none; /* Remove underlines */
    border-radius: 5px; /* Rounded corners for the button */
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.cta-button:hover {
    background-color: #305e6b; /* Darker background on hover */
}
